.idea
.iml
/CleanCode/aircompany/Java/target
/CleanCode/aircompany/CONTRIBUTORS.md
/CleanCode/aircompany/LICENSE
/CleanCode/aircompany/README.md
/CleanCode/aircompany/Java/src/out
*.class
/JavaClasses/
/JavaFundamentals/